{{#each moviesForHBS}}
  <img src="{{image}}" alt="">
  <h3>{{title}}</h3>
  <br>
  <a href="movie/{{id}}">See more</a>
  <hr>
<!--
    <li>{{title}}</li>
  <li>{{director}}</li>
  <li>{{stars}}</li>
  <li>{{image}}</li>
  <li>{{description}}</li>
  <li>{{showtimes}}</li>
-->
{{/each}}
